body {
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.welcome {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.survey-btn, .surveylist-btn, .details-btn {
  background-color: #751cc9;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin: 1rem;
  width: 50%;
  align-self: center;
  padding: 0.5rem;
}

.survey-btn:hover, .surveylist-btn:hover {
  background-color: #a64dff;
  cursor: pointer;
}

.survey-item-btn {
  width: 35%;
}

.survey {
  width:100%;
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
  gap: 15px;
 
  padding: 10px;
  align-self: center;
  justify-content: center;
}

.survey-input {
  width: 30%;
  height: 30px;
  align-self: center;
}

.survey-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.submit-btn {
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin: 1rem;
  width: 50%;
  align-self: center;
  padding: 0.5rem;
}

.cancel-btn, .delete-btn {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin: 1rem;
  width: 50%;
  align-self: center;
  padding: 0.5rem;
}

.back-btn {
  background-color: #751cc9;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin: 1rem;
  width: 50%;
  align-self: center;
  padding: 0.5rem;
}

.survey-item {
  width: 50%;
  border: black solid 2.5px;
  border-radius: 5px;
  margin: 5px;
  align-self: center;
}

.survey-item-element {
  color: antiquewhite;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 5px;
}

.survey-item-heading {
  color: white;
  font-weight: bolder;
}

.survey-item-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}